#Home .albums-section {
    margin-top: 50px;
}

#Home .section-header .link {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 3px;
}

#Home .section-header .link:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

#Home .album {
    width: 160px;
    text-align: left;
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
}

#Home .album .image {
    height: 160px;
    border-radius: 5px;
}

#Home .album .subtext div:nth-child(1) {
    margin: 5px 0;
}

#Home .album .subtext .title {
    font-weight: bold;
}

#Home .albums-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#Home .artists-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#Home .artist {
    min-width: 160px;
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
}

#Home .artist .image {
    height: 160px;
    border-radius: 50%;
}

#Home .subtext .name {
    font-weight: bold;
}

#Home .subtext {
    font-size: 14px;
    margin: 10px 0;
}
